<div class="edit-container">
  <%= form_for(@article, :html => { :class => 'input' }) do |f| %>
    <%= f.label :item, "Title", :class => 'input__label' %>
    <%= f.text_field :item, :class => 'input__title' %>
    <%= f.label :content, "Content", :class => 'input__label' %>
    <%= f.text_area :content, :class => 'input__content' %>
    <%= f.submit %>
  <% end %>
</div>
