<h2>New Article</h2>
<%= form_for(@article, :html => { :class => 'input' }) do |f| %>
  <%= f.label :item, "Title", :class => 'input__label' %>
  <%= f.text_field :item, :placeholder => "enter article name", required: true , :class => 'input__title' %>
  <%= f.label :content, "Content", :class => 'input__label' %>
  <%= f.text_area :content, :placeholder => "enter article name", required: true, :class => 'input__content' %>
  <%= f.submit %>
<% end %>
