<% @articles.each do |article| %>
<article class="articles">
  <h3 class="articles__title"><%= article.item %></h3>
  <div class="articles__content"><%= markdown(article.content) %></div>
</article>
<a class="articles__expand"><%= link_to 'Read More', article %></a>
<% end %>

<% if current_user && current_user.is_admin %>
<a><%= link_to "New", new_article_path %> </a>
<% end %>

<div id="calendar">
  <%= month_calendar events: Event.all do |date,events| %>
    <%= date %>
    <%events.each do |event|%>
      <div>
        <%= event.name %>
      </div>
    <% end %>
  <% end %>
</div>

<% @playlists.each do |playlist| %>
  <%= playlist.author %>
  <%= playlist.name %>
  <%= playlist.name %>
  <iframe width="560" height="315" src="<%= playlist.url %>" frameborder="0" allowfullscreen></iframe>
<% end %>
<% if current_user && current_user.is_admin %>
<a><%= link_to "New", new_playlist_path %> </a>
<% end %>
