<div class="container">
  <div class="articles-playlists-container">

    <div class="articles-container">
      <ul class="articles__list">
        <% @articles.each do |article| %>
          <li class="article-container">
            <%= link_to (article), :class=>'article-container' do   %>
              <div class="article__cover-image-container">
                <img class="articles__cover-image" alt="cover image" src="<%= present(article.cover_image)%>" >
              </div>
              <div class="articles__heading-container">
                <h2 class="articles__title"><%= article.item %></h3>
                <h4 class="articles__author"><%= article.author%></h5>
              </div>
              <% if current_user && current_user.is_admin %>
                <a href="<%= edit_article_path(article.id) %>">
                  <img src="/assets/edit.svg" class="articles__edit-button" alt="Edit article">
                </a>
              <% end %>
            <% end%>

          </li>
        <% end %>
      </ul>
      <p class="container__footer">
        That’s all we got but there’s lots more over at the
        <a href="http://guides.nyu.edu/c.php?g=276570&p=3724679" target="_blank">Print Lab Reading List</a>
      </p>
    </div>

    <ul class="playlists-container">
      <% @playlists.each do |playlist| %>
        <li class="playlist_container">
          <h3 class="playlist__name"><%= playlist.name %></h3>
          <h4 class="playlist__author"><%= playlist.author %></h4>
          <% if current_user && current_user.is_admin %>
            <a href="<%= edit_playlist_path(playlist.id) %>">
              <img src="/assets/edit.svg" class="playlists__edit-button" alt="Edit playlists">
            </a>
          <% end %>
          <iframe class="playlist__iframe" src="<%= playlist.url %>" frameborder="0" class="playlist__frame" allowfullscreen></iframe>
        </li>
      <% end %>
    </ul>

  </div>






  <!-- <div class="event-menu">
    <p class="event-menu__button" onClick="toggleEvents()">View Events</p>
    <div class="event-container" id="event-container">
      <header class="events__header">
        <p class="events__title"> Events </p>
        <%= link_to "+", new_event_path %>
      </header>

      <div class="calendar-details-container" id="events">

        <div class="calendar-container">
          <%= month_calendar events: Event.all do |date,events| %>
            <%= date.day %>
            <%events.each do |event|%>
              <div>
                <%= link_to event.name, event %>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="details-container">
        </div>

      </div>

    </div>
  </div> -->



<div>
