<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @playlist.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @playlist.author %>
</p>

<p>
  <strong>Url:</strong>
  <%= @playlist.url %>
</p>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
