<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @playlist.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @playlist.author %>
</p>

<p>
  <strong>Url:</strong>
  <%= @playlist.url %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @playlist.edition %>
</p>

<%= link_to 'Back', :root %>
