<!DOCTYPE html>
<html>
<head>
  <title>Polusic</title>
  <link href='https://fonts.googleapis.com/css?family=BenchNine:400,700,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1 class="home__title">POLITICS AND MUSIC</h1>
    <h2 class="home__edition">EDITION #1</h2>
  </header>
  <%= yield %>
  <footer>
    <% if current_user && current_user.is_admin %>
    Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
    <% end %>

  </footer>
</body>
</html>
