<!DOCTYPE html>
<html>
<head>
  <title>The Circuit</title>
  <link href='https://fonts.googleapis.com/css?family=BenchNine:400,700,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="home__header">
    <h1>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspThe Circuit
    <!-- <img src="/assets/circuitlogo.png" class="home__circuit-logo" alt="circuit logo"> -->
    <span class="home__title-text-large">ISSUE<span class="home__title-circle">&nbsp#0&nbsp</span></span></h1>
    <!-- <h5 class="home__edition">EDITION #1</h5> -->

    <% if current_user && current_user.is_admin %>
      <nav class="home__nav">
        <ul class="nav__list-left">
          <li class="nav__item"><%= link_to 'Add Article', new_article_path, class: "nav__link" %></li>
          <li class="nav__item"><%= link_to 'Add Playlist', new_playlist_path, class: "nav__link" %></li>
        </ul>
        <ul class="nav__list-right">
          <li class="nav__item">Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %></li>
        </ul>
      </nav>
    <% end %>
  </header>
  <section class="page__content">
    <%= yield %>
  </section>
  <footer class="home__footer">The Circuit: an ITP community magzine <span class="home__title-highlight">❤</span> 
    <p class="home__title-light">Submit to the Next Issue:&nbsp
    <a class="home__title-highlight" href="mailto:thecircuit.itp@gmail.com">thecircuit.itp@gmail.com</a></p>
  </footer>
</body>
</html>
